body {
    background-color: rgb(61, 58, 58);
    color: rgba(190, 68, 184, 0.945);
    
}


main{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align:center;

}


#subheading {
    color: white;
    text-align: center;
    top: -12px;
}

p {
    text-align: left;
    position: relative;
    top: 16px;

}
h1{
    text-align: center;
    font-weight: bold;
}

h2 {
    border: 1px solid white;
    position: absolute;
    top: -38px;
    left: 24px;
    background-color: rgb(61, 58, 58);
    padding: 10px;
    width: 300px;
    text-align: left;
    font-weight: bold;
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

section{
    display: block;
    position: relative;
    border: 2px dotted white;
    margin: 20px;
    width: 24%;
    height: 24%;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap; 
    font-family:'Times New Roman', Times, serif;
}

pre, h2, section{
    border-radius: 7px;
    
}
pre {
    color: white;
    background: content-box radial-gradient(rgb(129, 48, 125)20%, #825c97) 100%; 
    padding: 17px;
    text-align: left;
    width: 300px;
    height: 200px; 
    min-height: 70%;
    
    
}
@media screen and (max-width: 768px) 
{
section {
    width: 50%;
}
}
